.background {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.unbackground {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container h4 {
  color: red;
  margin: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.icon {
  color: #b9aeae;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
